@import "tailwindcss";


@keyframes wave {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-8px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.wave {
  display: inline-block;
  animation: wave 0.5s ease forwards;
}



body {
  
  font-family: Arial, Helvetica, sans-serif;
}
